/*--imported fonts--*/
@import url('https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400');
/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */

:root {
    --black: #0D0D0D;
    --white: #F2F2F2;
    --seafoam: #7ABFBF;
    --light-seafoam: rgba(122,191,191,.5);
    --orange: #EB5428;
}
    
/* global/mobile */
html {
	background-color: var(--light-seafoam);
}

body {
	min-width: 414px;
	font-family: "Montserrat", "Bebas-Neue", sans-serif;
	background-color: var(--white);
}

header {
	display: flex;
	justify-content: center;
	background-color: var(--white);
	font-weight: bold;
	padding: 20px;
}
header h1{
	font-family: "Bebas Neue", sans-serif;
	font-size: 40px;
}

h2 {
	display: flex;
	justify-content: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 30px;
}

.download {
	background-color: var(--white);
	font-family: "Bebas Neue", sans-serif;
	color: var(--orange);
	font-size: 20px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.recipe img {
	width: 100%;
}

p {
	margin: 10px;
	font-size: 16px;
}

.recipe dl {
	font-size: 16px;
	margin: 10px;
	padding: 10px;
}


dl dt {
	font-weight: bold;
}

.recipe li {
	margin: 10px 30px;
	list-style-type: square;
	list-style-position: inside;
}

.recipe ol li{
	margin: 20px 30px;
	list-style-type: decimal;
	list-style-position: outside;
}

.sides {
	background-color: var(--seafoam);
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.sides > h2 {
	padding: 20px;
	grid-column: 1/3;
}

.sides h3 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 25px;
}

.sides img {
	width: 75%;
	margin: 20px;
}

.mexican-rice-rating {
	margin: 10px;
	align-content: center;
}

.salsa-rating {
	margin: 10px;
	align-content: center;
}

.guacamole-rating {
	margin: 10px;
	align-content: center;
}

.tortillas-rating {
	margin: 10px;
	align-content: center;
}

nav {
	position: absolute;
}